# THHIS IS AN EXAMPLE CRONTAB I USED.
#THE PURPOSE OF THIS IS TO DEMONSTRATE IMPLEMENTATION

#--------------------------------------------------------------
#                       BEGIN CRONTAB
#--------------------------------------------------------------

# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').
# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command
14 09 * * *  python3 ryanrevenge10.py
14 10 * * *  python3 ryanrevenge12.py
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
17 08 * * *  python3 ryanrevenge15.py
16 09 * * *  python3 ryanrevenge16.py
45 09 * * *  python3 ryanrevenge18.py
10 10 * * *  python3 ryanrevenge19.py
40 10 * * *  python3 ryanrevenge20.py
37 11 * * *  python3 ryanrevenge22.py
15 12 * * *  python3 ryanrevenge23.py
43 12 * * *  python3 ryanrevenge24.py
11 13 * * *  python3 ryanrevenge25.py
05 14 * * *  python3 ryanrevenge27.py
16 16 * * *  python3 ryanrevenge12.py
14 17 * * *  python3 ryanrevenge14.py
10 18 * * *  python3 ryanrevenge5.py
03 19 * * *  python3 ryanrevenge1.py
02 20 * * *  python3 ryanrevenge28.py
12 21 * * *  python3 ryanrevenge30.py
42 21 * * *  python3 ryanrevenge31.py
07 22 * * *  python3 ryanrevenge21.py
45 22 * * *  python3 ryanrevenge26.py
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
42 09 * * *  python3 ryanrevenge34.py
07 10 * * *  python3 ryanrevenge35.py
02 11 * * *  python3 ryanrevenge37.py
05 12 * * *  python3 ryanrevenge39.py
09 15 * * *  python3 ryanrevenge45.py
32 15 * * *  python3 ryanrevenge36.py
03 16 * * *  python3 ryanrevenge47.py
32 16 * * *  python3 ryanrevenge32.py
13 17 * * *  python3 ryanrevenge49.py
38 18 * * *  python3 ryanrevenge9.py
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
08 09 * * 03 python3 ryanrevenge0.py
42 10 * * 03 python3 ryanrevenge40.py
50 11 * * 03 python3 ryanrevenge42.py
40 12 * * 03 python3 ryanrevenge44.py
42 13 * * 03 python3 ryanrevenge46.py
16 14 * * 03 python3 ryanrevenge48.py
32 14 * * 03 python3 ryanrevenge29.py
08 15 * * 03 python3 ryanrevenge38.py
12 15 * * 03 python3 ryanrevenge50.py
00 16 * * 03 python3 ryanrevenge51.py
35 16 * * 03 python3 ryanrevenge3.py
38 17 * * 03 python3 ryanrevenge52.py
42 18 * * 03 python3 ryanrevenge53.py
32 19 * * 03 python3 ryanrevenge54.py
39 20 * * 03 python3 ryanrevenge55.py
45 21 * * 03 python3 ryanrevenge56.py
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
42 08 * * 04 python3 ryanrevenge57.py
02 09 * * 04 python3 ryanrevenge58.py
32 09 * * 04 python3 ryanrevenge59.py
42 10 * * 04 python3 ryanrevenge60.py
10 14 * * 02 python3 ryanrevenge43.py
32 14 * * 02 python3 ryanrevenge33.py
30 13 * * 02 python3 ryanrevenge41.py
40 19 * * 02 python3 gryanrevenge11.py
45 20 * * 02 python3 ryanrevenge13.py
45 21 * * 02 python3 ryanrevenge7.py
